/* Options.module.css */

.nav {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.box {
    width: 240px;
    height: 50px;
    box-sizing: border-box;
    font-family: 'Lora';
    border: 0; /* Sağ kenar haricindeki diğer kenarlarda border olmaması için 0 yapıldı */
    border-right: 1px solid #DDDDDD; /* Sadece sağ kenarda 1px kalınlığında border olacak */
   

}

.noClicked {
    background-color: #F9F9F9;
    color: #757575; /* Metin rengini siyah olarak ayarladık */
    text-decoration: none; 
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clicked{
    background-color: #DAE8EE;
    color: #262626; /* Metin rengini siyah olarak ayarladık */
    text-decoration: none; 
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}